//
//  Production.shared.xcconfig
//  DashX Demo
//
//  Created by Pradeep Kumar on 03/12/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

DASHX_PUBLIC_KEY=1rGE0HWa6Su8F9kZVDpZICYb
DASHX_BASE_URI=https://api.dashx-staging.com/graphql
DASHX_TARGET_ENVIRONMENT=production
