//
//  Staging.release.xcconfig
//  DashX Demo
//
//  Created by Pradeep Kumar on 03/12/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "../Pods/Target Support Files/Pods-DashX Demo-DashX Demo Staging/Pods-DashX Demo-DashX Demo Staging.release.xcconfig"
#include "Staging.shared.xcconfig"
