<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>48484596656-sev9727el9cpjo4223f47ps2l2h7q673.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.48484596656-sev9727el9cpjo4223f47ps2l2h7q673</string>
	<key>API_KEY</key>
	<string>AIzaSyDY5OLtMgR9e7xW3RjLW_24heodYf-G4HI</string>
	<key>GCM_SENDER_ID</key>
	<string>48484596656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dashxdemo.app</string>
	<key>PROJECT_ID</key>
	<string>dashx-demo-production</string>
	<key>STORAGE_BUCKET</key>
	<string>dashx-demo-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:48484596656:ios:cb152040093f36b4d17475</string>
</dict>
</plist>